<div class="top-border"></div>
  <div class="wrap">
    <header>
      <h1>The Sitter Club</h1>
    </header>

    <%= render 'form' %>

      <p class="forgot">Forgot My Password</p>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash #{name}" %>
    <% end %>
  </div>

