<h1>I need a sitter</h1>

<p>add calendar to indicate when you need friend's to be available</p>

<%= render 'timeslot_form' %>

<p>In case no one have submited, Message all your family</p>
<%= button_to "EMERGENCY", users_path%>

<%if @users%>
  <table style="width:100%">
  <%@users.each do |user|%>
  <tr>
  <th><%= user.family_name%></th>
  <!-- #PUT DE URL -->
  <th><%= button_to "message", users_send_message_path(friend_id: user.id)%></th>
  </tr>
  <%end%>
  </table>
<%end%>